# Dependencies
node_modules/

# Build
dist/
src-tauri/target/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Tauri
src-tauri/WixTools/
